//global colors
$global-color: aquamarine;
$global-error: red;
//links to images
$search_icon: '~@/assets/search.png';
$pin_icon: '~@/assets/pin.png';
$edit_icon: '~@/assets/edit.png';
$copy_icon: '~@/assets/copy.png';
$delete_icon: '~@/assets/delete.png';